In [3]:
import mpl_toolkits
from mlp_toolkits import basecamp
import pandas as pd
from mlp_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
import numpy as np

ImportError: No module named mlp_toolkits

In [5]:
df =pd.read_csv('school_data.csv', sep='\t',low_memory=False)
df.head(2)

,Unnamed: 0,CDSCode,Latitude,Longitude,FundingType,type,charter,met_all,crit1,crit2,...,school_code,partial_virtual,all_virtual,any_virtual,perc_staff_masters,student_teacher,success,math_above_avg,english_above_avg,above_avg
0,1,1100170112607,37.804520,-122.26815,Directly funded,H,D,Yes,3,3,...,112607,False,False,False,NaN,NaN,True,False,False,False
1,2,1100170123968,37.784648,-122.23863,Directly funded,E,D,No,2,3,...,123968,False,False,False,NaN,NaN,False,False,False,False

In [ ]:
map = Basemap(projection='merc', lat_0 = 57, lon_0 = -135,
    resolut   ion = 'h', area_thresh = 0.1,
    llcrnrlon=-136.25, llcrnrlat=56.0,
    urcrnrlon=-134.25, urcrnrlat=57.75)
 
map.drawcoastlines()
map.drawcountries()
map.fillcontinents(color = 'coral')
map.drawmapboundary()
 
plt.show()