In [172]:
import os

import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 8)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [6]:
df = pd.read_csv('shelter-animal-outcomes.csv.gz', index_col = 'AnimalID')

In [7]:
df

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
...,...,...,...,...,...,...,...,...,...
A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

In [11]:
df.describe()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
count,19038,26729,26729,13117,26729,26728,26711,26729,26729
unique,6374,22918,5,16,2,5,44,1380,366
top,Max,2015-08-11 00:00:00,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,136,19,10769,7816,15595,9779,3969,8810,2824

In [36]:
df.Name.value_counts()

Max          136
Bella        135
Charlie      107
            ...
Hobie Cat      1
Madi           1
Sumi           1
Name: Name, dtype: int64

In [12]:
df.DateTime.min()

'2013-10-01 09:31:00'

In [13]:
df.DateTime.max()

'2016-02-21 19:17:00'

In [15]:
df.OutcomeType.unique()

array(['Return_to_owner', 'Euthanasia', 'Adoption', 'Transfer', 'Died'], dtype=object)

In [27]:
df['IsAdopted'] = (df.OutcomeType=='Adoption')

In [37]:

df.SexuponOutcome.fillna("Unknown", inplace=True)

In [28]:
df[['SexuponOutcome','Sex']]

         SexuponOutcome    Sex
AnimalID
A671945   Neutered Male  False
A656520   Spayed Female  False
A686464   Neutered Male  False
...                 ...    ...
A698128   Neutered Male  False
A677478     Intact Male  False
A706629     Intact Male  False

[26729 rows x 2 columns]

In [170]:
def sex(x):
    if "Male" in x:
        return "Male"
    elif "Female" in x:
        return "Female"
    else:
        return np.nan

In [169]:
def isSterilized(x):
    if "Unknown" in x:
        return np.nan
    elif "Intact" in x:
        return False
    else:
        return True

In [173]:
df['Sex']=df.SexuponOutcome.apply(sex)

In [174]:
df['isSterilized']=df.SexuponOutcome.apply(isSterilized)

In [121]:
df.Sex.unique()
df.isSterilized.unique()

array([True, False, 'Unknown'], dtype=object)

In [49]:
df.DateTime

AnimalID
A671945    2014-02-12 18:22:00
A656520    2013-10-13 12:44:00
A686464    2015-01-31 12:28:00
                  ...
A698128    2015-03-09 13:33:00
A677478    2014-04-27 12:22:00
A706629    2015-07-02 09:00:00
Name: DateTime, dtype: object

In [50]:
df.DateTime[-1]

'2015-07-02 09:00:00'

In [51]:
a='2015-07-02 09:00:00'

In [65]:
b=pd.to_datetime(a)
b.year

2015

In [61]:
df.DateTime=pd.to_datetime(df.DateTime)

In [64]:
df['Month']=df.DateTime.year

AttributeError: 'Series' object has no attribute 'year'

In [66]:
df.OutcomeType.value_counts()

Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64

In [68]:
df.OutcomeSubtype.unique()

array([nan, 'Suffering', 'Foster', 'Partner', 'Offsite', 'SCRP',
       'Aggressive', 'Behavior', 'Rabies Risk', 'Medical', 'In Kennel',
       'In Foster', 'Barn', 'Court/Investigation', 'Enroute', 'At Vet',
       'In Surgery'], dtype=object)

In [74]:
df.OutcomeSubtype.fillna("Unknown", inplace=True)
df.OutcomeType.fillna("Unknown", inplace=True)
pd.crosstab(df.OutcomeSubtype,df.OutcomeType)

OutcomeType          Adoption  Died  Euthanasia  Return_to_owner  Transfer
OutcomeSubtype
Aggressive                  0     0         320                0         0
At Vet                      0     4           0                0         0
Barn                        1     0           0                0         1
Behavior                    0     0          86                0         0
Court/Investigation         0     0           6                0         0
Enroute                     0     8           0                0         0
Foster                   1800     0           0                0         0
In Foster                   0    52           0                0         0
In Kennel                   0   114           0                0         0
In Surgery                  0     3           0                0         0
Medical                     0     0          66                0         0
Offsite                   165     0           0                0         0
Partner                     0     0           0                0      7816
Rabies Risk                 0     0          74                0         0
SCRP                        0     0           0                0      1599
Suffering                   0     0        1002                0         0
Unknown                  8803    16           1             4786         6

In [107]:
df.SexuponOutcome.unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown'], dtype=object)

In [113]:
df[(df.AnimalType=='Cat')& ((df.SexuponOutcome=='Spayed Female')|(df.SexuponOutcome=='Intact Female'))].Name.mode()

0    Bella
dtype: object

In [101]:
df[(df.AnimalType=='Cat')& (df.Sex=='Male')].Name.mode()

0    Oliver
dtype: object

In [104]:
df[(df.AnimalType=='Dog')& (df.Sex=='Female')].OutcomeType.mode()

0    Adoption
dtype: object

In [142]:
df[['SexuponOutcome','Sex','isSterilized']]

         SexuponOutcome     Sex isSterilized
AnimalID
A671945   Neutered Male    Male         True
A656520   Spayed Female  Female         True
...                 ...     ...          ...
A677478     Intact Male    Male        False
A706629     Intact Male    Male        False

[26729 rows x 3 columns]

AttributeError: 'Series' object has no attribute 'type'

In [158]:
df.OutcomeType.unique()

array(['Return_to_owner', 'Euthanasia', 'Adoption', 'Transfer', 'Died'], dtype=object)

In [162]:
df.OutcomeType.apply(lambda outcome: 'ReturnToOwner' if outcome== 'Return_to_owner' else outcome).value_counts()

Adoption         10769
Transfer          9422
ReturnToOwner     4786
Euthanasia        1555
Died               197
Name: OutcomeType, dtype: int64

In [163]:
## another way to write this:


def my_outcome(outcome):
    if outcome=='Return_to_owner':
        return 'ReturnToOwner'
    else:
        return outcome

In [166]:
df['OutcomeType3']=df.OutcomeType.apply(my_outcome)
df.OutcomeType3.unique()
df.columns

Index([u'Name', u'DateTime', u'OutcomeType', u'OutcomeSubtype', u'AnimalType',
       u'SexuponOutcome', u'AgeuponOutcome', u'Breed', u'Color', u'IsAdopted',
       u'Sex', u'isSterilized', u'OutcomeType3'],
      dtype='object')

In [168]:
df.SexuponOutcome.apply(lambda outcome: True if 'Male' in outcome False if 'Famale' in outcome else outcome ).value_counts()

SyntaxError: invalid syntax (<ipython-input-168-c1089c1b598f>, line 1)

In [196]:
def splitnum(age):
    number =age.split(" ")
    return number[0]

In [198]:
df.AgeuponOutcome.apply(splitnum)

AttributeError: 'float' object has no attribute 'split'

In [194]:
df['age_number']=df.AgeuponOutcome.str.split(' ')[0]
df.age_number

ValueError: Length of values does not match length of index

In [199]:
a='1 year'

In [201]:
(number,unit)=a.split(' ')

In [207]:
number=float(number)
number

1.0

In [212]:
df['age_number','age_unit']=df.AgeuponOutcome.str.split(' ')
df['age_number','age_unit']
df.age_number

AnimalID
A671945      [1, year]
A656520      [1, year]
A686464     [2, years]
A683430     [3, weeks]
              ...
A718934    [3, months]
A698128     [4, years]
A677478     [4, weeks]
A706629      [1, year]
Name: age_number, dtype: object

In [239]:
def to_days(age):
    if 'Unknown'in age:
        return np.nan
    (value,unit)=age.split(' ')
    value=float(value)
    if 'day' in unit:
        return value
    elif 'week' in unit:
        return value * 7
    elif 'month' in unit:
        return value * 30.5
    elif 'year' in unit:
        return value *365
    else:
        return np.nan
    
to_days('Unknown')

nan

In [240]:
df.AgeuponOutcome.unique()

array(['1 year', '2 years', '3 weeks', '1 month', '5 months', '4 years',
       '3 months', '2 weeks', '2 months', '10 months', '6 months',
       '5 years', '7 years', '3 years', '4 months', '12 years', '9 years',
       '6 years', '1 weeks', '11 years', '4 weeks', '7 months', '8 years',
       '11 months', '4 days', '9 months', '8 months', '15 years',
       '10 years', '1 week', '0 years', '14 years', '3 days', '6 days',
       '5 days', '5 weeks', '2 days', '16 years', '1 day', '13 years',
       'Unknown', '17 years', '18 years', '19 years', '20 years'], dtype=object)

In [241]:
df['age']=df.AgeuponOutcome.apply(to_days)

In [242]:
df.age

AnimalID
A671945     365.0
A656520     365.0
A686464     730.0
A683430      21.0
            ...
A718934      91.5
A698128    1460.0
A677478      28.0
A706629     365.0
Name: age, dtype: float64

In [247]:
df.Breed.value_counts()
df.Breed.unique()

array(['Shetland Sheepdog Mix', 'Domestic Shorthair Mix', 'Pit Bull Mix',
       ..., 'Vizsla/Boxer', 'German Shepherd/Australian Kelpie',
       'Boxer/German Shepherd'], dtype=object)

In [266]:
def is_mixed(breed):
    if "Mix" in breed:
        return "mix"
    elif "/" in breed:
        return "mix"
    else:
        return "pure"

In [269]:
df['is_mix']=df.Breed.apply(is_mixed)
df[['Breed','is_mix']]
df.is_mix.value_counts()

mix     25338
pure     1391
Name: is_mix, dtype: int64